.about {
    position: relative;
    margin: 20px 0;

    &__before {
        position: absolute;
        top: 0;
        width: 100%;
        opacity: .7;
        height: calc(100vh - 130px);
        background-color: #000000d0;
        border-radius: 6px;
        z-index: 2;
    }

    &__box {
        padding: 20px;
    }
}